<div id="navigation" class="nav-ncc-accordion">
    <div class="list-group">
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item nav-item" data-parent="#mainNav" title="Scans">
            <i class="fa fa-area-chart mr-1" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>

        <a routerLink="/asset-management" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item nav-item" data-parent="#mainNav" title="Asset Management">
            <i class="fa fa-database mr-1" aria-hidden="true"></i>
            <span>Asset Management</span>
        </a>

        <a routerLink="/scans" routerLinkActive="active" class="list-group-item nav-item" data-parent="#mainNav" title="Scans">
            <i class="fa fa-barcode mr-1" aria-hidden="true"></i>
            <span>Scans</span>
        </a>

        <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item nav-item" data-parent="#mainNav" title="Admin">
            <i class="fa fa-cogs mr-1" aria-hidden="true"></i>
            <span>Admin</span>
        </a>

        <a routerLink="/notifications" routerLinkActive="active" class="list-group-item nav-item" data-parent="#mainNav" title="Notifications">
            <i class="fa fa-bell-o mr-1" aria-hidden="true"></i>
            <span>Notifications</span>
        </a>

        <a routerLink="/help" routerLinkActive="active" class="list-group-item nav-item" data-parent="#mainNav" title="Help">
            <i class="fa fa-comments mr-1" aria-hidden="true"></i>
            <span>Help</span>
        </a>
    </div>
</div>
